<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Todo Items</title>
</head>
<body>
    <div class="container">
        <h3>All Items</h3>
        <p><a href="/todo/add">Add Item >></a></p>
        <table style='border: 2px groove black;' cellpadding="5" cellspacing="3">
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Item 1</td>
                <td>True</td>
                <td>
                    <a href="#">Edit</a>
                    |
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>Item 2</td>
                <td>False</td>
                <td>
                    <a href="#">Edit</a>
                    |
                    <a href="#">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>